body {
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    color: black;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.hero-section {
    background-image: url('./IMG/cover.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:#0E0D0D;
    padding: 100px 20px;
    text-align: center;
}


.hero-section h2 {
    font-size: 2.5rem;
    font-family: 'Amiri', serif;
    color: white;
    
}

.hero-section p {
    font-size: 1.2rem;
    margin-top: 10px;
}

section {
    padding: 50px 20px;
    background-color: #fff;
    margin-top: 20px;
}

section h2 {
    font-size: 2rem;
    font-family: 'Amiri', serif;
    margin-bottom: 20px;
}

.service, .portfolio-item {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.portfolio-item{
    display: inline-block;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
